.container{
    position: absolute;
    width: 100%;
    max-width: 60rem;
    height: 94vh;
    max-width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 20px var(--Black);
    background-color: var(--Background);
    padding: 1.6rem;
    .termos{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        button{
            position: absolute;
            top: 0;
            right: 0;
            height: 3.6rem;
            aspect-ratio: 1/1;
            svg{
                color: var(--Text);
                transition: all .2s ease-in-out;
            }
            &:hover{
                svg{
                    transform: scale(1.2);
                }
            }
        }
        .textArea{
            color: var(--Text);
            margin-top: 4rem;
            height: calc(100% - 4rem);
            overflow: auto;
            padding: 1.2rem;

            h1{
                font-size: 1.8rem;
                margin-bottom: 1.4rem;
            }
            h2{
                font-size: 1.6rem;
                margin-top: 1.2rem;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}