.bodyArea{
    width: 100%;
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding: 4.2rem 2.4rem;
        h1{
            margin-bottom: 1.6rem;
        }
        .alert{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 1.4rem;
                b{
                    font-size: 1.4rem;
                }
            }
        }

        .section1{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 1.2rem;
            border-bottom: 1px solid var(--Primary-normal);
            gap: 2.4rem;
            .calendarArea{
                width: 100%;
                max-width: 54rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                margin: auto;
                .dateInfo{
                    background-color: var(--Transparente);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.6rem;
                    border-radius: 5px;
                    box-shadow: 4px 4px 4px var(--Transparente2);
                    margin-bottom: 1.8rem;
                    p{
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    button{
                        &:hover{
                            svg{
                                transform: scale(1.2);
                            }
                        }
                        &:disabled{
                            opacity: 0;
                            cursor: not-allowed;
                        }
                        svg{
                            transition: all .2s ease-in-out;
                        }
                    }
    
                }
                .calendar{
                    width: 100%;
                    background-color: var(--Transparente);
                    box-shadow: 4px 4px 4px var(--Transparente2);
                    padding: 0.8rem;
                    border-radius: 5px;
                    thead{
                        width: 100%;
                        tr{
                            width: 100%;
                        }
                    }
                    tbody{
                        tr{
                            td{
                                button{
                                    aspect-ratio: 1/1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    transition: all .2s ease-in-out;
                                    padding: 0.8rem;
                                    &:hover{
                                        background-color: var(--Transparente);
                                        color: var(--Text);
                                    }
                                }
                            }
                        }
                    }
                }    
                .legends{
                    background-color: var(--Transparente);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.6rem;
                    color: var(--Primary-normal);
                    border-radius: 5px;
                    box-shadow: 4px 4px 4px var(--Transparente2);
                    margin-top: 1.8rem;
                }
            }
        }

        .section2{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .allCards{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 1.6rem;
                .card{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.6rem;
                    color: var(--White);
                    border-radius: 5px;
                    .buttons{
                        display: flex;
                        flex-direction: row;
                        gap: 1.2rem;
                        align-items: center;
                        button{
                            &:hover{
                                svg{
                                    transform: scale(1.2);
                                }
                            }
                            svg{
                                color: var(--White);
                                transition: all .2s ease-in-out;
                            }
                        }
                    }
                }
                .cardTrue{
                    background-color: var(--Sucess);
                }
                .cardNull{
                    background-color: var(--Primary-normal);
                }
            }
        }
        .section3{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .allCards{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 1.6rem;
                .card{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.6rem;
                    border-radius: 5px;
                    background-color: var(--Transparente);
                    box-shadow: 4px 4px 4px var(--Transparente2);
                    button{
                        background-color: var(--Primary-normal);
                        color: var(--White);
                        padding: 8px 12px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width:768px){
    .bodyArea{
        .container{
            max-width: 768px;
            margin: auto;
            .section2{
                .calendarArea{
                    max-width: 60rem;
                }
            }
            .section2{
                .allCards{
                    grid-template-columns: repeat(2,1fr);
                }
            }
            .section3{
                .allCards{
                    grid-template-columns: repeat(2,1fr);
                }
            }
            
        }
    }
}

@media (min-width:1280px){
    .bodyArea{
        max-width: calc(100% - 360px);
        margin-left: 360px;
        .container{
            max-width: 960px;
            margin: auto;
        }
    }
}
@media (min-width:1536px){
    .bodyArea{
        .container{
            max-width: 1024px;
            margin: auto;
        }
    }
}

.modalGuest{
    position: absolute;
    width: 100%;
    max-width: 60rem;
    height: 94vh;
    max-width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 20px var(--Black);
    background-color: var(--Background);
}